/*
기능: 드롭다운 상단메뉴 스타일 작용
작성자: 홍길동
작성일: 2024.01.09
파일명: droptop.css
*/
/* 1레벨 메뉴*/
.dropdownmenu>li { /*부모태그>자식태그(부모태그 밑의 자식태그들만)*/
    float: left; /*왼->오 정렬*/
    position: relative; /*absolute 크기와 위치가 같기 때문에 맨 마지막에 메뉴 출력*/
    background-color: #67b0d1;
    width: 25%; /*웬만하면 퍼센트 사용*/  /*menu 4개-> 개당 25%*/
}
/*1단계 레벨의 메뉴 항목의 글자크기, 색 등*/
.dropdownmenu>li >a {
    display: block; /*하나의 행을 최대로 사용 width, height 가능*/
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    height: 60px; /*100px-> 60px*/
    line-height: 60px /*100px->60px*/
}
/*1레벨메뉴의 hover 설정*/
.dropdownmenu>li:hover {
    /* opacity: 90%; */
    background-color: #7bbbd7;
}
/*서브메뉴 나오게 해주는 옵션*/
.dropdownmenu>li:hover>ul {
    left:0;
    top: 60px; /*1단계메뉴의 높이가 60px: 바로 밑에 나오게 하기 위해서*/
    /*추가*/
    z-index: 9999; /*다른 이미지 슬라이드와 겹치는 경우 무조건 맨 앞에 배치*/
    width: 25vw; /*테두리 때문에 얼추*/
    border: 1px solid #cccccc;
}
/*2단계 메뉴 안보이게 설정*/
.dropdownmenu ul {
    position: absolute; /*left, top, width, height 부여해 설정 가능 */
    top: -3333px; /*상단점 위에 배치해 숨김*/
}
/*전체구조(relative)->세부적인 위치(absolute)를 줘서 메뉴작성한다.*/
/*2단계 메뉴의 위치 속성 지정*/
.dropdownmenu ul li {
    position: relative; /*1->2->3->4*/
}
/*2단계 메뉴의 텍스트 속성, 배경색, 여백 설정*/
.dropdownmenu ul a {
    display: block;
    color: #aaaaaa;
    font-size: 12px;
    background-color: #ffffff;
    line-height: 40px; /*상단메뉴의 높이보다 적게하는 것이 더 어울림*/
    padding-left: 20px; /*2단계 메뉴의 들여쓰기*/
}
/*2단계 메뉴에 마우스를 갖다댈때 배경색 설정*/
.dropdownmenu ul a:hover {
    color: #ffffff;
    background-color: #67b0d1;
}
/*2단계 메뉴에 메뉴항목을 갖다댈때 li태그 밑에 ul 태그 설정*/
.dropdownmenu ul li:hover>ul { 
    position: absolute; /*정확하게 좌표값을 이용해서 맞추기위해*/
    top: 0; /*y축은 변화가 없고 그대로 위치, html 구조상 그렇다*/ 
    left: 100%; /*2단계 메뉴의 폭만큼 이동 오른쪽으로 이동 (100%)*/
    width: 200px;
}

body,ul { /*선택자를 *로 설정해도 된다.*/
    margin: 0; /*바깥 여백*/
    padding: 0; /*안쪽 여백*/
}
ul {list-style: none; /*list-style-type:none*/}
a {text-decoration: none;} /*underline, overline, line-through*/
