/*
    메뉴얼(업무)
    기능 외부에서 자주 사용이 되는 스타일시트 문서를 작성용
    작성자: 홍길동
    작성 날짜: 2023.12.29
*/
h4,h3 {
    font-family: 돋움체 바탕체;  /*글자체 여러개가 나오는 경우(우선 순위별로 나열, 한글보다는 영문이 많음)*/
    color: green; /*글자 색*/
    font-size: 27pt; /*글자 크기*/
    font-weight: bold; /*글자 굵기(강조) bold, bolder, lighter, 200, 300 , 400~(Strong,b태그)*/
}