/*
작성자: 김예원
*/

/* 전체 레이아웃정리 */
html {
    width: 100%;
    height: 3600px;
}
body{
    margin: 0; padding: 0; 
    width: 100%;
    height: 3600px; 
}
.container1 {
    width: 1440px; height: 880px;
    margin: 0 auto;padding: 0;
}
.container2 {
    width: 1440px; height: 900px;
    margin: 0 auto;padding: 0;
}
.container3 {
    width: 1440px; height: 1700px;
    margin: 0 auto;padding: 0;
}
/*폰트 추가*/
   @font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
   }
   
   .nanumbarungothic * {
    font-family: 'NanumBarunGothic', sans-serif;
   }

   @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

    .nanumgothic * {
    font-family: 'Nanum Gothic', sans-serif;
    }

/*상단메뉴*/
header {
    margin:0; padding: 0;
    width: 100%;
    height: 65px;
}
header>img {
    width: 150px;
    margin:0;padding:0;
    position: relative;
    float: left;
    left: 20px;top:0;
}
.hnv {
    position: relative;
    float: left;
    top:30px; left: 103px;
    width: 920px;
}
.hnv>ul{
    list-style-type: none; margin: 0;padding: 0;}

.hnv>ul>li>a {
    position: relative;
    float: left;
    color: rgb(52, 52, 52);
    margin:0 62px; font-family: 'NanumBarunGothic'; font-size: 16px;    
    font-weight: bold;
    text-decoration: none;
}
header>ul {
    list-style-type:none;
    position:relative;
    float:right;
    right:30px; top:30px;
    margin:0; padding:0;
    width:200px;
}
header>ul>li>a {
    position: relative;
    float: right;
    color: rgb(52, 52, 52);
    padding: 0 13px;
    font-family: 'NanumBarunGothic';
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;

}
/* 대표이미지 */
.bimg1 {
    padding: 0; margin: 0;
    position: relative;
}
.bimg1>img {
    width: 100%;
    text-align: center;
    position: relative;
}
.bimg1>div {
    position: relative;
    float: left;
    top: -465px; left: 420px;
    width: 600px; height: 250px;
    text-align: center;
    color: white;
    line-height: 160%;
    margin: auto;
}
.bimg1>div>.sp1{
    display: block;
    font-family: 'NanumBarunGothic';
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px; letter-spacing: 2px;
}
.bimg1>div>.sp2 {
    display: block;
    font-family: 'NanumBarunGothic';
    margin-top: 18px;
    font-size: 13px; 
}
.bimg1>div>.subtitle1 {
    border-left: 3px solid white;
    border-right: 3.2px solid white;
    width: 550px; height: 135px;
    position: relative;
    font-size: 40px;
    padding-bottom: 10px;
    font-weight: bolder;
    font-family: 'Nanum Gothic', sans-serif;
    line-height: 160%;
    margin: auto;
}
/*container1 세부정보*/
section {
    clear: both;
    width: 1440px; height: 150px;
    margin: 0; padding: 0;
    position: relative; top: -260px;
}
section.context1 {
    width: 340px; height: 150px;
    margin: 0; padding: 0;
}
section.context2 {
    clear: both;
    width: 1440px; height: 150px;
    margin: 0; padding: 0;
    position: relative; top: -260px;
}
.context3 {
    clear: both;
    width: 340px; height: 300px;
    margin: 0; padding: 0;
    position: absolute; top: -260px; left: -500px;
}
.c1d1, .c1d2, .c1d3{
    width: 380px;
    height: 100px;
    margin: 0 50px;padding: 0;
    float: left;
}
.c1d1>figure>img {
    position: relative;
    float: left;
    top: 20px;
    width:60px;
}   
.c1d2>figure>img, .c1d3>figure>img{
    position: relative;
    float: left;
    top: 30px; left: -15px;
    width:60px;
}   
.c1d1>figure,.c1d2>figure,.c1d3>figure {
    height: 90px;
}
.c1d1>figure>h6 {
    color: rgb(52, 52, 52);
    font-size: 15px;
    position: relative; float: right; right: 140px; top: -3px;
}
.c1d1>figure>figcaption {
    font-family: 'NanumBarunGothic';
    color: rgb(52, 52, 52);
    font-size: 13px;
    position: relative; float: right; right: -45px; top: -3px;
}
.c1d2>figure>h6 {
    color: rgb(52, 52, 52);
    font-size: 15px;
    position: relative; float: right; right: 136px;
}
.c1d2>figure>figcaption {
    font-family: 'NanumBarunGothic';
    color: rgb(52, 52, 52);
    font-size: 13px;
    position: relative; float: right; right: -60px;
}
.c1d3>figure>h6 {
    color: rgb(52, 52, 52);
    font-size: 15px;
    position: relative; float: right; right: 82px;
}
.c1d3>figure>figcaption {
    font-family: 'NanumBarunGothic';
    color: rgb(52, 52, 52);
    font-size: 13px;
    position: relative; float: right; right: 50px; top: -28px;
}
hr{
    height:80px;
    width:2px;
    border-width:0;
    color:#989898;
    background-color:#989898;
   }
.hr1 {
    position: relative;
    float: left; left: -130px; top: 15px;
}
.hr2 {
    position: relative;
    float: left; left: 350px; top: 15px;
}

/*container2 대표이미지*/
.bimg2 {
    padding: 0; margin: 0;
    position: relative;
}
.bimg2>img {
    width: 70%;
    position: relative;
    top: -200px;
}
.shape2 {
    width: 650px; height: 500px;
    background-color: lightgray;
    clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
    position: relative;
    float: right;
    top: -680px;
}
/*container2 본문*/
.container2>.context1{
    position: relative;
    float: right;
    top: -1035px; right: 150px;
}
.container2>.context1>div>.sp1 {
    display: block;
    font-family: 'NanumBarunGothic';
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px; letter-spacing: 2px;
    border-top: 1.5px solid black;
    width: 80px;
    text-align: center; padding-top: 6px;   
}
.container2>.context1>div>.subtitle1 {
    margin-top: 35px;
    font-size: 28px;
    padding-bottom: 10px;
    font-weight: bolder;
    font-family: 'NanumBarunGothic';
}
.container2>.context1>div>hr {
    background-color: black;
    height: 1px;
    width: 20px;
    position: relative; float: left; top: 12px;
}
.container2>.context1>div>.sp2 {
    display: block;
    font-family: 'NanumBarunGothic';
    font-weight: middle;
    margin-top: 45px;
    font-size: 13px; 
    line-height: 180%;
}
/*container2 포트폴리오*/
.container2>.context2{
    clear: both;
    position: relative;
    float: left;
    top: -780px; left: 0px;
    height: 350px;
}
.context2>.c2d1{
    width: 250px;
    position: relative;
    float: left;
    top: 54px; left: 70px;
}
.context2>.c2d2 {
    width: 250px;
    position: relative;
    float: left; height: 300px;
    top: 25px; left: 160px;
    box-shadow: 0px 3px 5px lightgrey;
}
.context2>.c2d3 {
    width: 250px;
    position: relative;
    float: left; height: 300px;
    top: 25px; left: 255px;
    box-shadow: 0px 3px 5px lightgrey;
}
.context2>.c2d4 {
    width: 250px;
    position: relative;
    float: left; height: 300px;
    top: 25px; left: 340px;
    box-shadow: 0px 3px 5px lightgrey;
}
.context2>.c2d1>.sp1 {
    display: block;
    font-family: 'NanumBarunGothic';
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px; letter-spacing: 2px;
    border-top: 1.5px solid black;
    width: 80px;
    text-align: center; padding-top: 6px;
}
.context2>.c2d1>.subtitle1 {
    margin-top: 35px;
    font-size: 28px;
    padding-bottom: 10px;
    font-weight: bolder;
    font-family: 'NanumBarunGothic';
}
.context2>.c2d1>hr {
    background-color: black;
    height: 1px;
    width: 20px;
    position: relative; float: left; top: 12px;
}
.context2>.c2d1>.sp2 {
    display: block;
    font-family: 'NanumBarunGothic';
    font-weight: middle;
    margin-top: 45px;
    font-size: 13px; 
    line-height: 180%;
}
.context2>.c2d2>figure>img {
    width: 250px;
    position: relative;
    float: left; left: -40px; top: -16px;
}
.context2>.c2d2>figure>h6 {
    position: relative;
    float: left; top: -25px; left: -23px;
    font-family: 'NanumBarunGothic';
    font-size: 15px;
}
.context2>.c2d2>figure>figcaption {
    font-family: 'NanumBarunGothic'; font-size: 13px;
    position: relative; 
    float: left; left: -23px; top: -45px;
    width:220px;
}
.context2>.c2d3>figure>img {
    width: 250px; height: 168px;
    position: relative;
    float: left; left: -40px; top: -16px;

}
.context2>.c2d3>figure>h6 {
    position: relative;
    float: left; top: -25px; left: -23px;
    font-family: 'NanumBarunGothic';
    font-size: 15px;
    }
.context2>.c2d3>figure>figcaption {
    font-family: 'NanumBarunGothic'; font-size: 13px;
    position: relative; 
    float: left; left: -23px; top: -45px;
    width:220px;
}
.context2>.c2d4>figure>img {
    width: 250px; height: 168px;
    position: relative;
    float: left; left: -40px; top: -16px;
}
.context2>.c2d4>figure>h6 {
    position: relative;
    float: left; top: -25px; left: -23px;
    font-family: 'NanumBarunGothic';
    font-size: 15px;
}
.context2>.c2d4>figure>figcaption {
    font-family: 'NanumBarunGothic'; font-size: 13px;
    position: relative; 
    float: left; left: -23px; top: -45px;
    width:220px;
}
/*container3 대표이미지*/
.bimg3 {
    padding: 0; margin: 0;
    position: relative;
    height: 400px;
}
.bimg3>img {
    width: 70%;
    position: relative;
    top: -675px; 
    float: right;
}
.shape3 {
    transform: scaleX(-1);
    width: 650px; height: 500px;
    background-color: lightgray;
    clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
    position: relative;
    float: left;
    top: -1158px;
}
/* 화면3 본문 */
.container3>.context3{
    position: relative;
    float: left;
    left: 80px; top: -1510px;
}
.container3>.context3>div>.sp1 {
    display: block;
    font-family: 'NanumBarunGothic';
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px; letter-spacing: 2px;
    border-top: 1.5px solid black;
    width: 80px;
    text-align: center; padding-top: 6px;
}
.container3>.context3>div>.subtitle1 {
    margin-top: 35px;
    font-size: 28px;
    padding-bottom: 10px;
    font-weight: bolder;
    font-family: 'NanumBarunGothic';
}
.container3>.context3>div>hr {
    background-color: black;
    height: 1px;
    width: 20px;
    position: relative; float: left; top: 12px;
}
.container3>.context3>div>.sp2 {
    display: block;
    font-family: 'NanumBarunGothic';
    font-weight: middle;
    margin-top: 45px;
    font-size: 13px; 
    line-height: 180%;
}
/* 소식 */
.container3>.context4{
    clear: both;
    position: relative;
    float: left;
    top: -1320px; height: 900px;
    margin: 0 auto;
}
.container3>.context4>.c3d1>.sp1 {
    font-family: 'NanumBarunGothic';  font-weight: 600;  font-size: 15px;  letter-spacing: 1px; letter-spacing: 2px;
    border-top: 1.5px solid black;
    width: 160px;
    text-align: center; padding-top: 6px;
    position: relative; float: left; left: 660px;
    
}
.container3>.context4>.c3d1>.subtitle1 {
    margin-top: 55px;
    font-size: 28px;
    padding-bottom: 10px;
    font-weight: bolder;
    font-family: 'NanumBarunGothic';
    text-align: center; position: relative; float: left; left: 450px; top: 15px;
}
.context4>.c3d1>hr {
    background-color: black;
    height: 1px;
    width: 30px;
    position: relative; float: left; top: 35px; left: 270px;
}
.container3>.context4>.c3d1>.sp2 {
    font-family: 'NanumBarunGothic';
    font-weight: middle;
    margin-top: 45px;
    font-size: 13px; 
    line-height: 180%;
    position: relative; float: left; top: 120px; left: 190px;
}
/*새로운 소식 기사*/
.c3d2 {
    width: 600px; height: 250px;
    float: left; position: relative;
    left:60px; top: -1952px;
    box-shadow: 0px 3px 5px #d3d3d3;
    clear: both;
}
.c3d2>img {
    width: 250px; height: 250px; position: relative; float: left;
}
.c3d3 {
    width: 600px; height: 250px;
    float: left; position: relative;
    box-shadow: 0px 3px 5px lightgrey;
    clear: both;
    top: -2200px; left: 780px;
}
.c3d3>img {
    width: 250px; height: 250px;
    position: relative; float: left;  
}
.c3d4 {
    width: 600px; height: 250px;
    float: left; position: relative;
    left: 60px; top: -2135px;
    box-shadow: 0px 3px 5px lightgrey;
    clear: both;
}
.c3d4>img {
    width: 250px; height: 250px;
    position: relative; float: left;
}
.c3d5 {
    width: 600px; height: 250px;
    float: left; position: relative;
    top: -2385px; left: 780px;
    box-shadow: 0px 3px 5px lightgrey;
    clear: both;
}
.c3d5>img {
    width: 250px; height: 250px;
    position: relative; float: left;
}

.c3d2>h6 {
    position: relative;
    float: left; top: -10px; left: 30px;
    font-family: 'NanumBarunGothic';
    font-size: 17px; 
}
.c3d2>figcaption {
    position: relative;
    float: left; top: 60px; left: -35px;
    font-family: 'NanumBarunGothic';
    font-size: 13px; 
    line-height: 155%;
}
.c3d3>h6 {
    position: relative;
    float: right; top: -10px; right: 220px;
    font-family: 'NanumBarunGothic';
    font-size: 17px; 
}
.c3d3>figcaption {
    position: relative;
    float: right; top: -33px; right: 22px;
    font-family: 'NanumBarunGothic';
    font-size: 13px; 
    line-height: 155%;
}
.c3d4>h6 {
    position: relative;
    float: left; top: -10px; left: 30px;
    font-family: 'NanumBarunGothic';
    font-size: 17px; 
}
.c3d4>figcaption {
    position: relative;
    float: left; top: -35px; left: 30px;
    font-family: 'NanumBarunGothic';
    font-size: 13px; 
    line-height: 155%;
}
.c3d5>h6 {
    position: relative;
    float: left; top: -10px; left: 30px;
    font-family: 'NanumBarunGothic';
    font-size: 17px; 
}
.c3d5>figcaption {
    position: relative;
    float: left; top: -35px; left: 30px;
    font-family: 'NanumBarunGothic';
    font-size: 13px; 
    line-height: 155%;
}
footer {
    clear: both;
    width: 100%; height: 120px;
    margin: 0 auto; padding: 0;
    background-color: #dcdcdc;
    position: relative; top: -2250px;
}
footer>img {
    width: 150px;
    margin:0;padding:0;
    position: relative;
    float: left;
    left: 20px;top:25px;
}
footer>.fnv1 {
    width: 900px; height: 86px;
    position: relative; float: right;
    right: 55px; top: 15px;

}
footer>.fvn1>ul{
    display: flex;
    position: relative;
}
footer>.fnv1>.ul1>li {
    font-family: 'NanumBarunGothic';
    font-size: 12px; 
    list-style-type: none;
    position: relative;
    float: right;
    margin-right: 10px;
}  
footer>.fnv1>.ul2>li {
    font-family: 'NanumBarunGothic';
    font-size: 12px; 
    list-style-type: none;
    position: relative;
    float: right; top: 25px; left: 348px;
    margin-right: 10px;
}  
footer>.fnv1>.ul3>li {
    font-family: 'NanumBarunGothic';
    font-size: 12px; 
    list-style-type: none;
    position: relative;
    float: right; top: 35px;
    margin-right: 10px;
}  

/* hover */
header a:hover {
    text-decoration: underline;
    color: rgb(52, 52, 52);
    text-decoration: underline;
}
.sub{position:absolute; top:-3333px;}
.hnv li:hover>.sub{
    position: absolute; left: 25px;top: 30px; width: 80px; height: 80px;
    border: 1px solid lightgrey;
    z-index: 15; list-style-type: none;
    background-color: white;
}
header .sub li{
    position: relative; float: left; left: -12px; margin-top: 5px; top: -5px; z-index: 15;
}
.sub>li>a {
    font-family: 'NanumBarunGothic';
    font-weight: bold;
    font-size: 13px; color: rgb(52, 52, 52);
    text-decoration: none;
}


.sub1{position:absolute; top:-3333px;}
.hnv li:hover>.sub1{
    position: absolute; left: 210px;top: 30px; width: 100px; height: 80px;
    border: 1px solid lightgrey;
    z-index: 15; list-style-type: none;
    background-color: white;
}
header .sub1 li{
    position: relative; float: left; left: -5px; margin-top: 5px; top: -5px; z-index: 15;
}
.sub1>li>a {
    font-family: 'NanumBarunGothic';
    font-weight: bold;
    font-size: 13px; color: rgb(52, 52, 52);
    text-decoration: none;
}

.sub2{position:absolute; top:-3333px;}
.hnv li:hover>.sub2{
    position: absolute; left: 400px;top: 30px; width: 120px; height: 80px;
    border: 1px solid lightgrey;
    z-index: 15; list-style-type: none;
    background-color: white;
}
header .sub2 li{
    position: relative; float: left; left: -8px; margin-top: 5px; top: -5px; z-index: 15;
}
.sub2>li>a {
    font-family: 'NanumBarunGothic';
    font-weight: bold;
    font-size: 13px; color: rgb(52, 52, 52);
    text-decoration: none;
}
.hnv a:hover{
    text-decoration: underline;
}

