/*
두번째 방법
*/
body{
    background-color: antiquewhite;
    color: rgb(61, 61, 116);
    margin-left: 30px; /*왼쪽여백(바깥)*/
    margin-right: 30px; /*오른쪽쪽여백(바깥)*/
}
h3{ text-align: center; /* align="left | center | right"-> text-align 사용O*/
      color: darkred;

}